input {
  margin-left: 40px;
  width: 500px;
  font-size: 1.17em;
}
.profile-card {
  border: 1px solid #DDD;
  padding: 15px;
  max-width: 500px;
  position: relative;
}
.profile-card p, em {
  padding-left: 90px;
  margin: 0;
  text-size: 10px;
}
.profile-card img {
  position: absolute;
  top: 10;
  left: 10;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.profile-card h3 {
  padding-left: 90px;
  margin: 0 0 5px;
}
